.swiper {
  position: static;
  overflow: visible;
}

.swiper-slide {
  width: auto;
}

.swipper-lg .swiper-slide-duplicate-next, 
.swipper-lg .swiper-slide-duplicate-prev,
.swipper-lg .swiper-slide-next, 
.swipper-lg .swiper-slide-prev {
  opacity: 0.4;
  transition: all ease .3s;
}

.swiper-slide-active {
  transition: all ease .3s;
}

.swiper-button-next {
  height: 1rem;
  right: 2rem;
  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  right: 5rem;
  left: auto;
  height: 1rem;
  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  transform: rotate(180deg);
}
  
.swiper-button-prev::after {
  display: none;
}


.home .swiper-button-prev, 
.home .swiper-button-next {
  top: 36px;
}

.similar .swiper-button-prev, 
.similar .swiper-button-next {
  top: -14px;
}

.home .swiper-slide, 
.similar .swiper-slide {
  margin: 0 0.25rem;
}

@media (min-width: 768px) {
  .swipper-lg .swiper-slide-duplicate-next, 
  .swipper-lg .swiper-slide-duplicate-prev,
  .swipper-lg .swiper-slide-next, 
  .swipper-lg .swiper-slide-prev {
    transform: scale(0.9)!important;
  }

  .home .swiper-slide,
  .similar .swiper-slide {
    margin: 0 0.5rem;
  }
}
